body{
    font-family: 'Noto Sans Mono', monospace;
}
/*botones de social media*/
.pixelated{
    width: 20px;
}
.mergin{
    margin-right: 1.5em;
    margin-left: 1.5em;
}
/* card*/
.card {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.cardmargin{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.cardmargin2{
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}
/*borde negro y relleno blanco*/
.custom-button{
    box-shadow: inset 0 0 0 1px #000, inset 0 0 0 3px #fff;
}

/*posicion de la imagenes y bordes.*/
.img1{
    box-shadow: 0 0 20px 6px #FA79FD;
}

.img2{
    transform: rotate(-4deg);
    box-shadow: 0 0 20px 6px #FA79FD;
}

.img3{
    transform: rotate(4deg);
    box-shadow: 0 0 20px 6px #FA79FD;
}

.img4{
    box-shadow: 0 0 20px 6px #FA79FD;
    transform: rotate(-7deg)
}

.img5{
    transform: rotate(7deg);
    box-shadow: 0 0 20px 6px #FA79FD;
}

.img6{
    transform: rotate(-7deg);
    box-shadow: 0 0 20px 6px #FA79FD;
}

.img7{
    transform: rotate(7deg);
    box-shadow: 0 0 20px 6px #FA79FD;
}

.hov:hover{
    box-shadow: 0 0 25px 6px rgba(82, 255, 0, .7);
}

/* resolución movil */
@media (max-width:576px) {
.mergin{
    margin-right: 6px;
    margin-left: 0;
}
.cardmargin{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.cardmargin2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* se eliminan las rotaciones de la imagenes par version movil*/
    .img1{
        box-shadow: 0 0 20px 6px #FA79FD;
    }
    
    .img2{
        transform: none;
        box-shadow: 0 0 20px 6px #FA79FD;
    }
    
    .img3{
        transform: none;
        box-shadow: 0 0 20px 6px #FA79FD;
    }
    
    .img4{
        box-shadow: 0 0 20px 6px #FA79FD;
        transform: none;
        margin-top: 5px;
    }
    
    .img5{
        transform: none;
        box-shadow: 0 0 20px 6px #FA79FD;
    }
    
    .img6{
        transform: none;
        box-shadow: 0 0 20px 6px #FA79FD;
    }
    
    .img7{
        transform: none;
        box-shadow: 0 0 20px 6px #FA79FD;
    }
}